 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Skills</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Deep Learning, Signal Processing, Statistical Analysis and Data science, Geophysics, SupplyChain Management, Project Management</p>
    </div>
   
    <div class="tech">
      <h3>Development platforms</h3>
            <i class="devicon-python-plain-wordmark colored"></i>
            <i class="devicon-matlab-plain-wordmark colored"></i>
            <i class="devicon-perl-plain-wordmark colored"></i>
            <i class="devicon-cplusplus-plain-wordmark colored"></i>
            <i class="devicon-vscode-plain-wordmark colored"></i>
            <i class="devicon-ros-original-wordmark colored"></i>
      <p>Python (Keras, Tensorflow, Numpy, Scikit, Pandas)</p> 
      <p>MATLAB (Computer vision & image processing, ML & classifier learning, OpenCV)</p>
    </div>
   
    <div class="tech">
      <h3>Tools</h3>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-bitbucket-original-wordmark colored"></i>
    </div>
   
    <div class="tech">
      <h3>Project Management</h3>
            <i class="devicon-jira-plain-wordmark colored"></i>
            <i class="devicon-trello-plain-wordmark colored"></i>
      <p>Resource Planning and Scheduling, Google Analytics, MS SharePoint, Jira and Trello</p>
    </div>   
    <div class="tech">
      <h3>Safety Standards</h3>
      <p>ISO 26262, ISO/PAS 21448 SOTIF</p>
    </div>     
    <div class="tech">
      <h3>OS platforms</h3>
            <i class="devicon-windows11-original colored"></i>
            <i class="devicon-linux-plain colored"></i>
      <p>ISO 26262, ISO/PAS 21448 SOTIF</p>
    </div>     
</div>
