<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">


<div class="user-details">
  <h1>Professional Skills</h1>
</div>

<div class="user-details">
  <!-- <div class="project-container"> -->

    <div class="header-icons">
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-matlab-plain colored"></i>
      <i class="devicon-perl-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-vscode-plain colored"></i>
      <i class="devicon-ros-original colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>

      <div class="line-break"></div>

      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-bitbucket-original-wordmark colored"></i>

      <div class="line-break"></div>

      <i class="devicon-jira-plain colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>

      <div class="line-break"></div>
      
      <i class="devicon-windows11-original colored"></i>
      <i class="devicon-linux-plain colored"></i>

      <!-- <a class="project-link" href="professional_exp.html">Check it out</a> -->
    </div>
  <!-- </div> -->
</div>