<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">

<style>
  .user-details i {
  font-size: 55px; /* Adjust this size as needed */
  margin: 10px; /* Space around each icon */
  vertical-align: middle; /* Aligns icons better with text if any */
  max-width: 500px; /* Set your desired maximum width */
}

.line-break {
  clear: both;
  margin-top: 5px;
}


.icon-container {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space between groups */
  max-width: 80%; /* Adjust the width as needed */
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between icons within a group */
}

.icon-group i {
  font-size: 10px; /* Size of the icons */
  margin: 10px; /* Spacing around each icon */
}

</style>



<div class="user-details">
  <h1>Professional Skills</h1>
</div>

<!-- <div class="user-details"> -->
  <!-- <div class="project-container"> -->

    <div class="icon-container">
      <div class = "icon-group">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" />          
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg" />      
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/perl/perl-original.svg" />                
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" />          
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original-wordmark.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ros/ros-original-wordmark.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
      </div>
      
      <div class = "icon-group">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original-wordmark.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bitbucket/bitbucket-original-wordmark.svg" />
      </div>

      <div class = "icon-group">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original-wordmark.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/trello/trello-original-wordmark.svg" /> 
      </div>

      <div class = "icon-group">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/windows11/windows11-original-wordmark.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" />
      </div>
      

      <!-- <a class="project-link" href="professional_exp.html">Check it out</a> -->
    </div>
  <!-- </div> -->
<!-- </div> -->