<style>
.project-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  gap: 20px;
}

.images-left {
  width: 40%; /* Adjusts the width of the image container */
}

.slideshow-container {
  position: relative;
  width: 100%;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.contents-right {
  flex: 1;
}

.contents-right h3 {
  margin-top: 0;
}

.contents-right p {
  margin: 10px 0;
  line-height: 1.6;
  text-align: justify;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.project-link:hover {
  background-color: #0056b3;
}


</style>

<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let slides = document.querySelectorAll(".slide");
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1; }
    slides[slideIndex - 1].style.display = "block"; 
    setTimeout(showSlides, 3000); // Change image every 3 seconds
  }
</script>


<div class="user-details">
  <h1>Professional & Research Experience</h1>
</div>
<div class="user-projects">
  <div class="project-container">
    <div class="images-left">
      <div class="slideshow-container">
        <div class="slide fade">
          <img src="/assets/img/mountains.jpg" alt="Image 1">
        </div>
        <div class="slide fade">
          <img src="/assets/img/skate.jpg" alt="Image 2">
        </div>
        <div class="slide fade">
          <img src="test1.jpg" alt="Image 3">
        </div>
      </div>
    </div>
    <div class="contents-right">
      <h3>Work at Capgemini Engineering</h3>
      <p>Since August 2022, I have been working at Capgemini Engineering as a Technical Project Leader. 
        With a background in AI research, I sought opportunities to broaden my expertise and apply it to other cutting-edge fields. 
        This led me to take on a project focused on developing AI solutions for autonomous vehicles. 
        In this role, I have contributed to the development of AI-based perception modules and worked on the auto-certification of autopilots using NLP techniques. 
        During this period, I have also published research papers in the areas of NLP and AI perception.
      </p>
      <a class="project-link" href="professional_exp.html">Check it out</a>
    </div>
  </div>
</div>





<div class="user-projects">
  <div class="contents-left">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Researcher at Cerema & Université Gustave Eiffel </h3>
      <p>
        As Head of Research (Chargé de Recherche) at Université Gustave Eiffel, I contributed to the ACIMP project, a four-year initiative funded by the French National Research Agency, from November 2019 to July 2021. 
        During my two-year tenure, I focused on developing advanced signal processing and AI techniques aimed at enhancing fault detection and radar signal processing for civil engineering applications. 
        Throughout this period, I published over eight articles in leading journals and conferences. 
        Additionally, I am proud to present my registered software, gprDetector, which has been officially registered with Agence pour la Protection des Programmes (ID n°: 130026123). <br>
      
        Prior to this, from November 2016 to October 2019, I was a doctoral candidate funded by Cerema (a branch of the French Ministry of Ecology & Environment) and IFSTTAR (now known as Université Gustave Eiffel). 
        My thesis focused on developing machine learning-based methods for damage detection and monitoring through Non-Destructive Testing (NDT). 
        Using Ground Penetrating Radars (GPRs) for data acquisition, I applied advanced signal processing and machine learning techniques to create automated damage detection and monitoring systems.
      </p>
      <a class="project-link" href="research_exp.html">Check it out</a>
    </div>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <div class="contents">
      <h3> Associate Professor at EMLV </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="teaching_exp.html">Check it out</a>
    </div>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>  
  <div class="contents">
    <div class="contents">
      <h3> Software Developer at Accenture</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>

