<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>

      <section id="main_ProfessionalExperience">
        {% include main_ProfessionalExperience.html %}
      </section>

      <section id="main_ResearchExperience">
        {% include main_ResearchExperience.html %}
      </section>

      <section id="main_TeachingExperience">
        {% include main_TeachingExperience.html %}
      </section>
      
      <section id="main_ProfessionalSkills">
        {% include main_ProfessionalSkills.html %}
      </section>
      
      <section id="main_Education">
        {% include main_Education.html %}
      </section>      

      <section id="my_Testimonials">
        {% include my_Testimonials.html %}
      </section>

        {{ content }}
      {% include footer.html %}
  </body>
